<!DOCTYPE html>
{% extends 'Index.html' %}
{% load static %}
{%block content%}
<html lang="en">
   <head>
  	<title>Table 06</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href="{% static 'admin/assets/css/table2.css' %}">
   </head>
	<body>
               <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="heading22">Product Details</h4>


                    <table class="table11">
                      <thead>
                       <tr>
                             <th>Category</th>
                            <th>Name</th>
                           <th>Price</th>
                            <th>Image</th>
                            <th >Description</th>
                            <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for i in products %}
                          <tr>
                              <td>{{i.Category}}</td>
                              <td>{{i.ProductName}}</td>
                              <td>{{i.Price}}</td>
                              <td><img src="{{i.ProductImage.url}}" alt=""></td>
                              <td >{{i.ProductDescription}}</td>
                              <td>
                                  <a href="{%url 'EditProduct' EP_Id=i.id %} " class="btn btn-outline-success btn-fw">Edit</a>

                                  <a href="{%url 'DeleteProduct' DP_Id=i.id %} " class="btn btn-outline-danger btn-fw">Delete</a>
                              </td>
                          </tr>


                        {% endfor  %}
                        </tbody>
                    </table>
                   <a href="{%url 'AddProducts' %} " class="btn btn-info btn-fw" style="margin-top: 50px">Add more Products</a>

                  </div>
                </div>
              </div>

	</body>
</html>

{% endblock %}