<!DOCTYPE html>
{% extends 'Index.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#d2f9fa">


<div class="col-lg-8 grid-margin " >
    <div >
        <div class="card-body">
            <h4 style="color:#020d0f">Exercises</h4>

            {% for i in plans %}
            <div class="exercise-item">
                <h1 style="color:#020d0f">{{ i.caption }}</h1>
                <h3 style="color:#020d0f">Estimated calorie burn:{{ i.calorie }}</h3>
                 <h3 style="color:#020d0f">Objective type:{{ i.Objective1}}</h3>
                <video class="embed-responsive embed-responsive-16by9" controls style="width:500px; height: 200px;margin: 0 auto;">
    <source src="{{ i.video.url }}" type="video/mp4">
</video>
                <p style="color:#020d0f;margin-top:20px">{{ i.EDescription }}</p>
                <a class="btn btn-danger btn-sm" href="{% url 'DeleteExercise' DelId=i.id %}">Delete</a>
            </div>
            {% endfor %}
            <a href="{%url 'AddExercise' %} " class="btn btn-info btn-fw" style="margin-top: 50px">Add more Exercises</a>
        </div>

    </div>


</div>

</body>
</html>
{% endblock %}